.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
body {
  background-color: #0f041c;
}
.header_head {
  font: Sarpanch;
  font-weight: 700;
  size: 20px;
  line-height: 28px;
  color: #3ddeed;
}
.header_head_pre {
  color: aliceblue;
}
.nav_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}
.nav_link {
  text-decoration: none;
}
.header {
  margin-top: 48px;
}
